.scrollspy {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0px;
  opacity: 0.9;
  background-image: url("././images/pattern.png");
  padding: 3px;
  border: 1px solid #515458;
  border-radius: 0px 0px 80px;
  box-shadow: 1px 5px #0005;
  z-index: 10;
  li {
    display: inline-flex;
    margin: 4px 1.1rem;
    list-style-type: none;
    a {
      text-decoration: none;
      color: #5d5d5d;
      font-size: calc(12px + (22 - 14) * ((100vw - 1000px) / (1600 - 300)));
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .is-current {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    a {
      color: #000;
    }
  }
}
