@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-family: 'Major Mono Display', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(223, 207, 190);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
